header {
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 10;
}
#title{
  display: block;
  font-size: 2rem;
  font-weight: bold;
  color: black;
  padding: 1rem;
  background-color: white;
}
#tab-menu{
  background-color: rgb(111, 164, 255);
}
#tab-menu>button{
  font-size: 1.2rem;
  padding: 1rem;
}
#tab-menu>button:hover{
  background-color: rgba(255, 255, 255, 0.616);
}
